# Client-side ignores
## dependencies
node_modules
/client/node_modules

## build outputs
/client/dist
/client/dist-ssr
*.local

## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

## Vite
.vite

# Server-side ignores
## Python
server/__pycache__/
server/*.py[cod]
server/instance/
server/venv/

## Environment
server/.env
.env
.env.*
!.env.example

## Database
server/*.db
server/*.sqlite3

# Editor and System files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
